Adafruit-Blinka==5.8.1
adafruit-circuitpython-neopixel==6.0.0
adafruit-circuitpython-pypixelbuf==2.2.0
Adafruit-PlatformDetect==2.22.2
Adafruit-PureIO==1.1.7
certifi==2023.7.22
chardet==3.0.4
feedparser==6.0.2
idna==3.7
pkg-resources==0.0.0
psutil==5.7.3
pyftdi==0.52.0
pyModbusTCP==0.1.8
pyserial==3.5
pyusb==1.1.0
requests==2.31.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
sgmllib3k==1.0.0
smbus==1.1.post2
spidev==3.5
sysv-ipc==1.0.1
urllib3==1.26.18
